// Primary
$color-primary: #1976d2;


// Secondary
$color-secondary: #112232;


// Accent Colors
$color-accent-1: #F05D5E;

// Dark
$color-dark: #00080A;
$color-dark-0: #011B23;
$color-dark-1: #141414;
$color-dark-5: #012B39;
$color-dark-6: #003446;
$color-dark-7: #093C4D;


// Grey
$color-grey-6: #B5B5B5;


// White
$color-white: #FCFCFC;
$color-light-7: #EEEEEE;
$color-light-5: #C4F0FF; 
$color-light-3: #9EE6FF;
$color-light-1:#00A6C6;

// Test
$border-test: 1px solid black;

// Transition values
$transition-theme: background 300ms ease-in-out, color 500ms ease-in-out;

$transition-scroll-header: background 0.15s ease-in-out, box-shadow 0.3s ease-in-out;


// Heading Font Sizes
$heading-size-1: 2.3rem;


