// Base colors
$color-white: #FFFFFF;
$color-black: #00080A;

// Black color variants
$color-black-1: #041826;
$color-black-2: #052033;

// Dark blue shades
$color-dark-1: #000a0e;
$color-dark-0: #011B23;
$color-dark-5: #012B39;
$color-dark-6: #00345C;
$color-dark-7: #093C4D;
$color-dark-2: #024a63;

// Light blue variants
$color-light-1: #0971A6;
$color-light-3: #69ADF3;
$color-light-2: #00bbf9;
$color-light-5: #BBD5F0;
$color-light-6: #D8E3EE;
$color-light-7: #EFF6FC;

// Grey variants
$color-grey-6: #B5B5B5;
$color-grey-1: #333333;

// Transition values
$transition-theme: background 300ms ease-in-out, color 500ms ease-in-out;
$transition-scroll-header: background 0.15s ease-in-out, box-shadow 0.3s ease-in-out;

// Heading Font Sizes
$heading-size-1: 2.3rem;


/*----------- Responsive width breakpoints -----------*/

// Desktop
$breakpoint-desktop-1: 1520px;
$breakpoint-desktop-2: 1720px;

// Tablet
$breakpoint-tablet-1: 600px;
$breakpoint-tablet-2: 800px;
$breakpoint-tablet-3: 850px;

// Mobile
$breakpoint-mobile-1: 330px;
$breakpoint-mobile-2: 420px;
$breakpoint-mobile-3: 450px;


/*----------- Responsive height breakpoints -----------*/

$breakpoint-height-1: 850px;





