// Primary
$color-primary: #1976d2;


// Secondary
$color-secondary: #112232;


// Accent Colors
$color-accent-1: #F05D5E;

// Dark
$color-dark: #00080A;
$color-dark-0: #011B23;
$color-dark-1: #000a0e;
$color-dark-2: #024a63;
$color-dark-5: #012B39;
$color-dark-6: #00345C;
$color-dark-7: #093C4D;


// Grey shades
$color-grey-6: #B5B5B5;

// White
$color-white: #FFFFFF;
$color-light-7: #EFF6FC;
$color-light-5: #BBD5F0; 
$color-light-3: #69ADF3;
$color-light-1: #0971A6;
$color-light-2: #00bbf9;

// Test
$border-test: 1px solid black;

// Transition values
$transition-theme: background 300ms ease-in-out, color 500ms ease-in-out;

$transition-scroll-header: background 0.15s ease-in-out, box-shadow 0.3s ease-in-out;


// Heading Font Sizes
$heading-size-1: 2.3rem;


