<button 
  class="btn btn--widget"
  (click)="switchTheme()"
  [ngClass]="(headerActive) ? 'btn--onscroll' : null ">
  <i 
    class="far" 
    [ngClass]="(theme === 'dark-mode') ? 'fa-sun' : 'fa-moon'">
  </i>
</button>

<nav 
  class="nav fixed nav--outside"
  [ngClass]="(headerActive) ? 'nav--onscroll' : null ">

  <div class="container flex flex--nav">

    <ul class="navigation navigation--left">

      <li class="list-item list-item--nav">
        <a class="navigation__link" href="#header">Home</a>
      </li>

      <li class="list-item list-item--nav">
        <a class="navigation__link" href="">Support</a>
      </li>

    </ul>

    <ul class="navigation navigation--right">
      
      <li class="list-item list-item--nav">
        <button 
          class="btn btn--icon" 
          (click)="switchTheme()">

          <i 
            class="far" 
            [ngClass]="(theme === 'dark-mode') ? 'fa-sun' : 'fa-moon'">
          </i>

      </button>
      </li>

      <li class="list-item list-item--nav">
        <a href="#footer" class="btn btn--nav">Contact Us</a>
      </li>
      
    </ul>

  </div>

</nav>

<div class="header--container">
  <header class="header" id="header">
    
    <div class="brand">

      <img [src]="(theme === 'dark-mode')? 'assets/svg/logo-orion-rlopez.svg' : 'assets/svg/logo-orion-black.svg'" alt="imagen" class="brand__img" />

      <div class="brand__banner">
        <h1 class="brand__heading">Front-End Web Development</h1>
        <p class="brand__text">Javascript, HTML, CSS, Angular 8, NodeJS, Express, MongoDB...</p>
      </div>
      
    </div>

  </header>
</div>

<section class="section section--1">
  <div class="container container--flex container--1">

    <div class="section__left">

      <h1 class="section__heading">Flawless User Interfaces</h1>
      <hr class="section__horizontal-line">
      <p class="section__text">We provide a wide range of custom web solutions 
        to turn your ideas into fully supported web 
        applications that meet your expectations and the 
        needs of your customer base.</p>

    </div>
  
    <div class="section__right section__image-container section__showcase">

      <img class="section__img section__img--showcase" src="assets/svg/showcase-desktop.svg" alt="showcase-desktop">

    </div>

  </div>
  
</section>

<div class="section--container">

  <section class="section section--2">
    
    <div class="container container--flex container--1">
    
      <div class="section__left section__image-container">
  
        <img class="section__img" src="assets/svg/backend.svg" alt="backend">
  
      </div>

      <div class="section__right">
        <h1 class="section__heading">API Design & Development</h1>

        <hr class="section__horizontal-line">

        <p class="section__text">We use the optimal tools and techniques to
          develop public web services. Thus providing with an 
          open API on top on your server to outside web-based
          solutions (web apps, other web services, etc.) through 
          the network.</p>
  
      </div>
  
    </div>

  </section>

  <section class="section section--3">

    <div class="container container--flex container--1">
    
      <div class="section__left section__image-container">
  
        <img class="section__img" src="assets/svg/services.svg" alt="backend">
        
      </div>

      <div class="section__right">
        <h1 class="section__heading">API Design & Development</h1>

        <hr class="section__horizontal-line">

        <p class="section__text">We use the optimal tools and techniques to
          develop public web services. Thus providing with an 
          open API on top on your server to outside web-based
          solutions (web apps, other web services, etc.) through 
          the network.</p>
  
      </div>
  
    </div>

  </section>

  <footer class="footer" id="footer">

    <div class="container footer__container">

      <div class="footer__left">

        <form [formGroup]="inquirySubmit" (ngSubmit)="submitInquiry()">

          <h1 class="footer__heading">Lets get connected</h1>
  
          <input 
            class="footer__input"
            type="text" 
            [formControlName]="'email'"
            placeholder="Your Email">
    
          <textarea 
            [formControlName]="'inquiry'"
            class="footer__textarea" 
            cols="30"
            rows="10"
            placeholder="Your Inquiry">
          </textarea>

      <div class="footer__btn-container">
        <button class="btn btn--footer">Submit</button>
      </div>
        </form>
        
  
      </div>
  
      <div class="footer__right footer__image-container">
    
        <img class="footer__img" src="assets/svg/orion-stars.svg" alt="backend">
        
      </div>

    </div>

  </footer>

</div>

