<!-- Switch theme button for mobile devices -->

<button 
  class="btn btn--widget"
  (click)="switchTheme()"
  [ngClass]="(headerActive) ? 'btn--onscroll' : null ">
  <i class="fas fa-adjust"></i>
</button>


<!-- Navbar component -->
<app-navbar 
  class="nav fixed"
  [ngClass]="(headerActive) ? 'nav--onscroll' : null "
  (switch)="switchTheme()">

</app-navbar>


<!-- .header--container div to applying a filter shadow -->

<div class="header--container"> 

  <header class="header" id="header">
    
    <div class="brand">

      <img src="assets/images/logo-orion-rlopez.svg" alt="imagen" class="brand__img" />

      <div class="brand__banner">
        <h1 class="brand__heading">Full Stack Web Solutions</h1>
        <p class="brand__text">Javascript, HTML, CSS, Angular 8, NodeJS, Express, MongoDB...</p>
      </div>
      
    </div>

  </header>

</div>


<!-- Sections -->

<app-section 
  class="section section--1"
  [theme]="theme"
  [name]="'ui/ux-dev'"
  [heading]="'Flawless User Interfaces'"
  [text]="'We provide a wide range of custom web solutions to turn your ideas into fully supported web applications that meet your expectations and the needs of your customer base.'"
  [imgSrc]="[
  'assets/images/showcase-desktop.svg',
  'assets/images/showcase-tablet.svg',
  'assets/images/showcase-phone.svg'
  ]"
  [inverted]="false">

</app-section>


<!-- Section container to apply the ellipse shape -->

<div class="section--container">

  <app-section
    class="section section--2"
    [theme]="theme"
    [name]="'api-dev'"
    [heading]="'API Design & Development'"
    [text]="'We use the optimal tools and techniques to develop public web services. Thus providing with an open API on top on your server to outside web-based solutions (web apps, other web services, etc.) through the network.'"
    [imgSrc]="[(theme === 'dark-mode') ? 'assets/images/dark2.png' : 'assets/images/light2.png']"
    [inverted]="true">
  </app-section>
  
  <div class="container" [ngStyle]="{ 'overflow': 'hidden' }">

    <h1 class="section__heading heading--center">Our service options</h1>

    <img 
        [ngStyle]="{ 'display': 'block' }"
        class="section__horizontal-line" 
        [src]="'assets/images/line-1.svg'" 
        alt="line-image">

  </div>

  <app-section
    class="section"
    [theme]="theme"
    [name]="'dev-plan'"
    [heading]="'Development from scratch'"
    [text]="'Orion Software provides a couple of development methods based on the requirements of the application. We either create a path with all the requirements at the initial stage of the development (linear approach) or continuously adapt to changing project requirements (agile approach). '"
    [imgSrc]="[(theme === 'dark-mode') ? 'assets/images/dark.png' : 'assets/images/light.png']"
    [inverted]="false">
  </app-section>

</div>


<!-- Footer component -->

<app-footer 
  class="footer" 
  id="footer"
  [theme]='theme'>
</app-footer>



