@import "abstracts/variables";

.section {

    &--flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__showcase {
        text-align: right;
    }
    
    &__left, &__right {
        width: 50%;
    }
    
    &__right {
        position: relative;
    }
    
    &__left {
        max-width: 600px;
        margin-left: 60px;
        overflow: hidden;
    }
    
    &__img {
        width: 85%;
        max-width: 450px;
        mix-blend-mode: screen;

        &--showcase {
            mix-blend-mode: difference;
        }

        &--devices {
            max-height: 300px;
        }
    }
    
    &__heading {
        font-size: $heading-size-1;
        letter-spacing: 2px;
        font-weight: 400;
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 28px;
    }

    @media screen and (max-width: 1720px) {
        &__right, &__left {
            margin: 30px 0;
        }
    }

    @media screen and (max-width: 800px) {

        &__img {
            width: 75%;
        }

        &__left, &__right {
            width: 90%;
            margin: 20px;
        }

        &__heading {
            max-width: none;
        }

        &--1 {
            align-items: center;
        }

        &__image-container {
            text-align: center;
        }

        @media screen and (max-height: 850px) {
            &__img {
                &--devices {
                   max-height: 170px;
                }
               
            }
        }
    }

}

