.brand {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__img {
        width: 15rem;
        margin-bottom: 60px;
    }

    &__heading {
        font-size: $heading-size-1;
        margin-bottom: 50px;
        font-weight: 300;
    }

    &__text {
        font-size: 1.2rem;
        width: 70%;
        margin: auto
    }

    @media screen and (max-width: $breakpoint-tablet-2) {
        &__img {
            transform: scale(1.1);
            margin-bottom: 50px;
        }

    }
}





