.btn {
    box-shadow: 1px 1px 3px $color-dark;

    &--nav {
        font-size: .9rem;
        font-weight: 300;
        background: $color-white;
        text-decoration: none;
        border-radius: .25rem;
        padding: 6px 25px;
        color: $color-dark;
        font-size: 1.1rem;
        font-weight: 300;
    }

    &--icon {
        background: #004C65;
        color: $color-dark;
        position: relative;
        outline: none;
        padding: 10px;
        width: 30px;
        height: 30px;
        margin: 0 20px 0 0;
        border: none;
        border-radius: 50%;
        box-shadow: none;

        .fa-sun, .fa-moon, .fa-lightbulb {
            font-size: 200%;
        }

        @include respond (phone) {
            display: none;
        }
    }

    &--widget {
        color: inherit;
        background: rgba(0, 0, 0, 0);
        outline: 0;
        width: 45px;
        height: 45px;
        margin: 0 20px 0 0;
        border-radius: 50%;
        position: fixed;
        border: none;
        top: 92%;
        left: 88%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: none;

        .fa-sun, .fa-moon, .fa-lightbulb {
            font-size: 200%;
        }

        @include respond(phone) {
            display: inline-block;
        }
    }

    
}

@media (max-width: 330px) {
    .btn {
        &--nav {
            padding: 10px;
        }
    }
}