.btn {
    box-shadow: 1px 1px 3px $color-black;

    &--nav {
        font-size: .9rem;
        font-weight: 300;
        background: $color-white;
        text-decoration: none;
        border-radius: .25rem;
        padding: 6px 25px;
        color: $color-black;
        font-size: 1.1rem;
        font-weight: 300;
    }

    &--footer {
        margin: 10px 0;
        width: 100%;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: 1px 1px 3px black;
        padding: 15px 0;
        font-weight: 500;
        font-size: 1.3rem;
        color: $color-white;
        filter: none;
        transition: filter .2s ease, transform .2s ease;
        cursor: pointer;
        transform: scale(1);
    }

    &--footer:disabled {
        filter: grayscale(100%);
        cursor: default;
    }

    &--footer:active {
        transform: scale(0.99);
    }

    &--icon {
        background: rgba($color: $color-black, $alpha: .5);
        color: $color-black;
        position: relative;
        outline: none;
        padding: 10px;
        width: 30px;
        height: 30px;
        margin: 0 20px 0 0;
        border: none;
        border-radius: 50%;
        box-shadow: none;
        cursor: pointer;

        @media screen and (max-width: $breakpoint-mobile-3) {
            display: none;
        }
    }

    &--widget {
        color: inherit;
        outline: 0;
        width: 45px;
        height: 45px;
        margin: 0 20px 0 0;
        border-radius: 50%;
        position: fixed;
        border: none;
        top: 92%;
        left: 88%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: none;

        .fa-sun, .fa-moon, .fa-lightbulb {
            font-size: 200%;
        }

        @media screen and (max-width: $breakpoint-mobile-3) {
            display: inline-block;
        }
    }

    
}

@media screen and (max-width: $breakpoint-mobile-1) {
    .btn {
        &--nav {
            padding: 10px;
        }
    }
}