.btn {

    box-shadow: 1px 1px 5px black;
    &--nav {
        font-size: .9rem;
        font-weight: 300;
        background: $color-accent-1;
        border: 1px solid $color-dark-1;
        border-radius: 1px;
        padding: 10px 20px;
        color: $color-white;
    }

    &--icon {
        background: rgba(0, 0, 0, 0);
        color: inherit;
        position: relative;
        outline: none;
        padding: 10px;
        width: 60px;
        height: 60px;
        margin: 0 20px 0 0;
        border-radius: 5px;
        border: none;
        box-shadow: none;

        .fa-sun, .fa-moon, .fa-lightbulb {
            font-size: 200%;
        }

        @include respond (phone) {
            display: none;
        }
    }

    &--widget {
        color: inherit;
        background: rgba(0, 0, 0, 0);
        outline: 0;
        width: 45px;
        height: 45px;
        margin: 0 20px 0 0;
        border-radius: 50%;
        position: fixed;
        border: none;
        top: 92%;
        left: 88%;
        transform: translate(-50%, -50%);
        z-index: 1;
        display: none;

        .fa-sun, .fa-moon, .fa-lightbulb {
            font-size: 200%;
        }

        @include respond(phone) {
            display: inline-block;
        }
    }

    
}

@media (max-width: 330px) {
    .btn {
        &--nav {
            padding: 10px;
        }
    }
}