.footer {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__nav {
        display: flex;
    }

    &__contact {
        margin: 40px auto 30px auto;
    }

    &__contact-link,
    &__contact-link:visited,
    &__contact-link:active {
        color: $color-light-1;
        font-size: 1.3rem;
        margin: 0 8px;
    }

    .btn--footer {
        border: 1px solid $color-dark-1;
        outline: none;
        box-shadow: 1px 1px 5px black;
        padding: 10px 25px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.3rem;
        background: $color-light-1;
        color: $color-dark-1;
        filter: none;
        transition: filter .2s ease, transform .2s ease;
        cursor: pointer;
        transform: scale(1);
    }

    .btn--footer:disabled {
        filter: grayscale(100%);
        cursor: default;
    }

    .btn--footer:active {
        transform: scale(0.99);
    }

    &__form {
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__left, &__right {
        width: 50%;
    }

    &__img {
        width: 50%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: difference;
    }

    &__heading, 
    &__input, 
    &__textarea,
    .btn--footer {
        margin: 10px 0;
        width: 100%;
        border-radius: 1px;
    }

    &__input.ng-invalid.ng-touched,
    &__textarea.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &__heading {
        font-size: $heading-size-1;
        margin-bottom: 50px;
    }

    &__input, &__textarea {
        border: 1px solid $color-dark-1;
        box-shadow: 1px 1px 3px black;
        padding: 15px 20px;
        font-size: 1.2rem;
        outline: none;
        transition: $transition-theme, border 150ms ease-in-out;
    }

    &__input {
        width: 70%;
    }

    &__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        max-width: 1520px;
    }

    &__img-container {
        position: relative;
    }

    &__btn-container {
        text-align: right;
    }

    @media screen and (max-width: 800px) {
        &__img {
            width: 75%;
        }
        
        &__right {
            display: none;
        }

        &__left {
            width: 90%
        }

        &__container {
            justify-content: center;
        }

    }

}