.nav {
    display: flex;
    width: 100%;
    height: 70px;
    margin: auto;
    z-index: 20;

    @include respond(big-desktop) {
        box-shadow: none;
        left: 50%;
        transform: translate(-50%);
    }

    &--outside {
        transition: $transition-scroll-header;
    }

    &--onscroll {
        box-shadow: 1px 1px 3px $color-dark;
    }

}

.navigation {
    display: flex;
    align-items: center;

    &__link, &__link:visited, &__link:active {
        font-size: .9rem;
        font-weight: 500;
        margin: 20px;
        text-decoration: none;
        color: inherit;
    }

}