.nav {
    display: flex;
    width: 100%;
    height: 70px;
    margin: auto;
    z-index: 20;
    color: $color-white;
    transition: $transition-scroll-header;

    @media screen and (min-width: 1520px) {
        box-shadow: none;
        left: 50%;
        transform: translate(-50%);
    }

    &--onscroll {
        box-shadow: 1px 1px 3px $color-black;
    }

}

.navigation {
    display: flex;
    align-items: center;

    &__link, &__link:visited, &__link:active {
        font-size: .9rem;
        font-weight: 500;
        margin: 20px;
        text-decoration: none;
        color: inherit;
    }

}