.container {
    width: 90%;
    margin: 0 auto; 
    max-width: 1520px; 
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container--reverse {
    flex-direction: row-reverse;
}

.container--loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
        .container--flex {
            flex-direction: column;
        }

        .container--1 {
            justify-content: space-around;
        }

        .container--reverse {
            flex-direction: column-reverse;
        }

        .container--last {
            flex-direction: column-reverse;
        }

}
