@import "../abstracts/variables";

.section {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    padding: 40px 0;

    &__horizontal-line {
        margin: 15px auto;
    }

    &--container {
        transition: $transition-theme;
    }

    &--flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__showcase {
        text-align: right;
    }
    
    &__left, &__right {
        width: 50%;
    }
    
    &__right {
        position: relative;
    }
    
    &__left {
        max-width: 600px;
        margin-left: 60px;
    }
    
    &__img {
        width: 85%;
        max-width: 450px;
        mix-blend-mode: difference;

        &--showcase {
            mix-blend-mode: normal;
        }
    }
    
    &__heading {
        font-size: $heading-size-1;
        letter-spacing: 2px;
        font-weight: 400;
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 28px;
    }
    
    &--container {
        transition: $transition-theme;
        margin-top: -100px;
        padding: 100px 0;
        clip-path: ellipse(100% 50%);
    }
    
    &--1 {
        display: flex;
        align-items: center;
        transition: $transition-theme;
        padding-bottom: 150px;
    }

    &--2 {
        padding-bottom: 80px;
    }

    @media screen and (max-width: $breakpoint-desktop-2) {
        &__right, &__left {
            margin: 30px 0;
        }
    }

    @media screen and (max-width: $breakpoint-tablet-2) {

        &__img {
            width: 75%;
        }

        &__left, &__right {
            width: 90%;
            margin: 0;
        }

        &__heading {
            max-width: none;
        }

        &--1 {
            align-items: center;
        }

        &__image-container {
            text-align: center;
        }

        &--container {
            margin-top: -135px;
        }
    }
}

