// These are classes to the body depending on the theme selected

.light-mode {
    background: $color-light-7;
    color: $color-dark;

    .header {
        background: $color-light-1;
    }

    .nav {
        &--onscroll {
            background: $color-light-1;
            box-shadow: 1px 1px 3px $color-dark;
        }
    }

    .btn {
        &--onscroll {
            background: $color-white;
        }
    }

    .section {

        &--1 {
            background: linear-gradient(to bottom, $color-light-7, $color-light-3);
        }

        &--container {
            background: linear-gradient(to bottom, $color-white, $color-light-5);
        }

    }

    .list {
        &--api-dev {
            background: #333;;
            padding: 15px 0;
            border-radius: 3px;
        }
    }

    .footer {
        background: $color-light-1;
        &__input, &__textarea {
            background: #D8E3EE;
            color: $color-dark-0;
        }

    }

    .fa-sun, .fa-moon, .fa-lightbulb {
        color: $color-dark-7;
        background-clip: unset;
    }
}

.dark-mode {
    color: $color-white;
    background-color: #041826;

    .header {
        background: $color-dark-6
    }

    .nav {
        &--onscroll {
            background: $color-dark-6;
            box-shadow: 1px 1px 3px $color-dark-1;
        }
    }

    .btn {
        &--widget {
            border: 1px solid $color-white;
        }
        &--onscroll {
            background: $color-dark;
        }
    }

    .section {
        
        &--1 {
            background: linear-gradient(to bottom, #041826, $color-dark-6);
        }

        &--container {
            background: linear-gradient(to bottom, $color-dark-1, #052033);
        }
    }

    .fa-sun, .fa-moon, .fa-lightbulb {
        background-image: linear-gradient(to bottom right, $color-light-1 , $color-light-7);
    }

    .footer {
        background: $color-dark-6;

        &__input, &__textarea {
            background-color: $color-dark-1;
            color: $color-grey-6;
        }

    }
}