// These are classes to the body depending on the theme selected

// Text made for remote commit purporses

.light-mode {
    background: $color-light-7;
    color: $color-dark;

    .header {
        background: linear-gradient(to top left, $color-light-1, $color-light-3);
    }

    .nav {
        &--onscroll {
            background: $color-white;
            box-shadow: 1px 1px 3px $color-dark;
        }
    }

    .btn {
        &--onscroll {
            background: $color-white;
        }
    }

    .section {

        &--1 {
            background: linear-gradient(to bottom, transparent, $color-light-3);
        }

        &--container {
            background: linear-gradient(to bottom, transparent, $color-light-3);
        }

    }

    .list {
        &--api-dev {
            background: #333;;
            padding: 15px 0;
            border-radius: 3px;
        }
    }

    .footer {
        &__input, &__textarea {
            background-color: $color-white;
            color: $color-dark-0;
        }

    }

    .fa-sun, .fa-moon, .fa-lightbulb {
        color: $color-dark-7;
        background-clip: unset;
    }
}

.dark-mode {
    background: $color-dark-1;
    color: $color-white;

    .header {
        background: linear-gradient(to bottom, transparent, $color-dark-5);
    }

    .nav {
        &--onscroll {
            background: $color-dark-1;
            box-shadow: 1px 1px 3px $color-dark-1;
        }
    }

    .btn {
        &--widget {
            border: 1px solid $color-white;
        }
        &--onscroll {
            background: $color-dark;
        }
    }

    .section {
        
        &--1 {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $color-dark-5);
        }

        &--container {
            background: linear-gradient(to bottom, transparent, $color-dark-6);
        }
    }

    .fa-sun, .fa-moon, .fa-lightbulb {
        background-image: linear-gradient(to bottom right, $color-light-1 , $color-light-7);
    }

    .footer {
        &__input, &__textarea {
            background-color: $color-dark-1;
            color: $color-grey-6;
        }

    }
}